        <!DOCTYPE html>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
<head>
 <title class="titolo">Bellezze d'Italia</title>
</head>
<body>

 <h1 class="testo">Bellezze d'Italia</h1>

 <div style="display: flex; flex-wrap: wrap;">
  <div style="flex: 1 1 50%;">
    <img src="{{url_for('static', filename='images/MilanoDuomo.jpg')}}" alt="Milano" width="100%" align="middle"/>
    <a href="{{ url_for('Milano') }}">Milano</a>
  </div>
  <div style="flex: 1 1 50%;">
   <img src="{{url_for('static', filename='images/Firenze.jpg')}}" alt="Firenze" width="100%" align="middle"/>
   <a href="{{ url_for('Firenze') }}">Firenze</a>
  </div>
  <div style="flex: 1 1 50%;">
    <img src="{{url_for('static', filename='images/Venezia.jfif')}}" alt="Venezia" width="100%" align="middle"/>
    <a href="{{ url_for('Venezia') }}">Venezia</a>
  </div>
  <div style="flex: 1 1 50%;">
    <img src="{{url_for('static', filename='images/Napoli.jpg')}}" alt="Napoli" width="100%" align="middle"/>
    <a href="{{ url_for('Napoli') }}">Napoli</a>
  </div>
 </div>
</body>
</html>