<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
    <head class="titolo">
        <h1>DESCRIZIONE DI FIRENZE</h1>
    </head>
    <body>
        <p>La città di Firenze, fondata sulle sponde del fiume Arno,<br>
           è il capoluogo della Toscana ed è il centro dell'area metropolitana Firenze-Prato-Pistoia,<br>
           nonché l'ottavo comune in Italia per popolazione ( circa 380 mila abitanti ).<br>
           Firenze è una tra le città d'arte più rinomate, non solo nel Bel Paese, ma in tutto il mondo; la sua storia,<br>
           l'architettura ed i musei che ospita sono un richiamo per i turisti di tutto il mondo, oltre che una risorsa fondamentale per la città stessa.</p>
           <a href = "{{ url_for('citta') }}" >Home</a>
    </body>
</html>