<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
    <head class="titolo">
            <h1>DESCRIZIONE DI NAPOLI</h1>
    </head>
    <body>
        <p>Napoli (italiana: Napoli , napoletana: Napule ), in Italia, è la capitale della regione Campania.<br>
        La città è il terzo comune più popoloso (città propria) d’Italia, ma la seconda area metropolitana, dopo Milano.<br>
        Fu fondata tra il VII e il VI secolo a.C. dai Greci e fu chiamata Neapolis, che significa nuova città.<br>
        Il centro storico di Napoli ha guadagnato la denominazione del patrimonio mondiale dell’UNESCO.<br>
        Ha uno dei più grandi centri storici del mondo e il suo orgoglio sono le 448 chiese storiche e monumentali, il numero più alto del mondo per una singola città.<br>
        Troverai una città vibrante con molto da vedere e da fare, una città in cui il grande afflusso di turisti come a Roma, Venezia, Firenze ecc …<br>
        non è accaduto (per ora) e ha quindi permesso alla città di conservare gran parte delle sue cultura originale, che consente di visitare una gemma nascosta a sole 2 ore a sud di Roma.<br>
        Il suo territorio, in particolare la vista iconica del golfo di Napoli (ma anche il Vesuvio, la musica, ecc.) È senza dubbio una delle immagini simboliche più potenti d’Italia.</p>
    <a href = "{{ url_for('citta') }}" >Home</a>
    </body>
</html>