<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
    <head class="titolo">
        <h1>DESCRIZIONE DI VENEZIA</h1>
    </head>
    <body class="testo">
        <p>Una città incredibile, costituita da un insieme di 118 isole unite da oltre 400 ponti e separate dai canali che fungono da strade,<br>
            percorsi da barche e gondole.Venezia è una città affascinante per i numerosi tesori d'arte che custodisce: chiese, palazzi, musei, ponti.<br>
            Si potrebbe anzi dire che l'intera città è un'opera d'arte, un'opera unica al mondo che si è via via costruita in secoli di storia dal dominio<br>
            alla decadenza, alla rinascita.</p>
        <a href = "{{ url_for('citta') }}" >Home</a>
    </body>
</html>